<div style="width: 419px;">
<p class="title-details-ads">Detalles del anuncio</p>
<br>
<br>
<p class="sub-title-details-ads">Tipo de vehículo</p>
<p class="type-details-ads">{{data.ad.type}}</p>
<br>
<p class="sub-title-details-ads">Título</p>
<p class="type-details-ads">{{data.ad.title}}</p>


<p class="sub-title-details-ads">Precio</p>
<p class="type-details-ads">{{data.ad.auto_ad.price}}</p>
<div class="row">
	<div class="col-md-6">
		<p class="sub-title-details-ads">Teléfono</p>
		<p class="type-details-ads">{{data.user.mobile_number}} </p>
	</div>
	<div class="col-md-6">
		<p class="sub-title-details-ads">WhatsApp</p>
		<p class="type-details-ads"> {{data.user.whatsapp_number}} </p>
	</div>
</div>
</div>