<div class="contenido">
  <br>
   <div class="row">
    <div class="col-md-8" >
      <img src="assets/img/arrow.svg" (click)="goBackPage()" style="position: absolute;" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p class="title-dashboard" style="margin-left: 30px;margin-top: -39px;">Anuncio rechazado</p>
    </div>
  </div>
  <br>
  
  <p class="title-comment">Usuario</p>
  <div class="row">
    <div class="col-md-1">
      <img src="assets/img/user-icon-header.svg" style="width: 40px;margin-top: 12px;height: 40px;">&nbsp;&nbsp; 
    </div>
    <div class="col-md-8">
      <p class="title-table-ads">{{user?.first_name}}  {{user?.last_name}} </p>
      <label class="sub-title-table-ads" style="margin-top: -20px;">Vendedor {{user?.type}}</label>
    </div>
  </div>
  <br>
  <p class="title-comment" *ngIf="ad_id != null">Anuncio</p>
  <p class="title-comment" *ngIf="ad_length != null">Anuncios <span style="color: #787878;">({{ad_length}})</span></p>

  <!--<label class="sub-title-table-ads" >Auto</label>-->
  <p class="title-table-ads">{{ad?.title}} </p>
  
  <p class="title-comment">Comentario</p>
  <textarea class="text-area-comment" id="comment"  style="padding-left: 20px;padding-top: 13px;" placeholder="Escribe un comentario">

  </textarea>
  <br>
  <br>
  <button   *ngIf="ad_id != null"  class="button-send-comment" (click)="sendRejected()">
    ENVIAR
     <span *ngIf="loading" class="icon icon-refresh loader"></span>
  </button>

  <button  *ngIf="ad_length != null" class="button-send-comment" (click)="sendRejecteds()">
    ENVIAR
     <span *ngIf="loading" class="icon icon-refresh loader"></span>
  </button>
</div>