.category-content {
  margin-top: 85px;
  padding: 0px 25px;
}

.mat-tab-label.mat-tab-label-active {
  padding: 5px;
  background-color: transparent;
  //background-color: white;
  color: red;
  font-weight: 700;
}

/* .mat-tab-label-container {
  background-color: white;
} */

.mat-tab-body-content {
  //background-color: white;
  padding: 20px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: red;
}

.mat-expansion-panel-header-description, 
.mat-expansion-indicator::after {
  cursor: pointer;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: auto !important;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  //font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #00CB08;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 0 24px !important;
}

.myicon {
  cursor: pointer;
  margin: 5px 10px;
  height: 20px !important;
  width: 18px !important;
  border-radius: 0px !important;
}

.mat-typography h3 {
  margin: 0px;
}

.group-tittle {
  display: flex;
  justify-content: space-between;
}

.group-select {
  max-width: 300px;
  padding: 15px 0px;
}

.group-list {
  width: 100%;
  display: flex;
  align-items: center;
  //justify-content: space-between;
  padding: 10px 0px;
}

.marca-list {
  width: 100%;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.model-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
