.temp-login{
    display: grid;
    height: 100%;
    grid-template-rows: 100px auto;
    padding: 50px;
    justify-items: center;
}


.content{
    display: grid;
    align-content: space-around;
    max-height: 420px;
    justify-items: center;
    .footer-session{
        display: flex;
        flex-direction: row;
        gap: 5px;
        button{
            padding: 0px !important;
            color: black;
            text-decoration: underline;
        }
    }
}

.header-img {
    justify-content: center;
    display: flex;
    margin-left: -52px;
    width: 108%;
    margin-top: -42px;
}

.title{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #1C1C1C;

}

.input-icons i {
    position: absolute;
    margin-left: 296px;
    margin-top: 19px;
    width: 30px;
    height: 30px;
}

.padding-login{
    padding: 11px 56px;
    width: 335px;
    padding-left: 16px;

}

.rectangle{
    position: absolute; right: 0; bottom: -120px;height: 633px
}

@media (min-width: 10px) and (max-width: 800px) {
    .rectangle{
        display :none;
    } 
}
