@import 'base';

.bg-rojo{
    background-color: $rojo !important;
}

.bg-rojo-claro{
    background-color: $rojoClaro !important;
}

.bg-gris{
    background-color: $textoGris !important;
}

.color-rojo{
    color: $rojo !important;
}
.text-black{
    color: black !important;
}


/* * 
*   ###################### FUENTES ##################################### 
* */

.font-300{
	font-weight: 300 !important;
}
.font-400{
	font-weight: 400 !important;
}
.font-500{
	font-weight: 500 !important;
}
.font-600{
	font-weight: 600 !important;
}


/* * 
*   ###################### CHECKBOX ##################################### 
* */

.form-group{
    margin-bottom: 10px;
    text-align: start;
}

.checkbox-group{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 4px;

}

.dropdown{
    display: none;
    grid-gap: 5px;
    span.icon{
        font-size: 20px;
        color: inherit !important;
    }
}

.down{
    display: grid !important;

}

.icon{
    color: inherit !important;
}

/* ! INPUTS ================================================== */
input,select{
    min-width: 120px;
    max-width: 400px;
    margin: 5px 0px;
    background: none;
    border: none;
}

input:focus,textarea:focus{
    outline: none;
}

select{
    cursor: pointer;
    border: 1px solid #787878;
    border-radius: 8px;
    padding: 8px 12px;
}

.input-circle{
    background: #FFFFFF;
    border: 1px solid $textoGris;
    border-radius: 100px;
    height: 35px;
    padding: 10px 15px;
    width: 100%;
    outline: none;
    margin: 5px 0px;
    min-width: 256px;
}

.input-search{
    background-color: $grisClaro;
    border-color: $grisClaro;
}

.group-input-icon-left,.group-input-icon-right{
    position: relative;
    display: grid;
    align-items: center;
}

.group-input-icon-left{
    span{
        position: absolute;
        left: 10px;
        font-size: 16px;
    }

    input{
        padding-left: 35px;
    }
}

.group-input-icon-right{
    span{
        position: absolute;
        right: 10px;
    }

    input{
        padding-right: 35px;
    }
}


.input-square{
    padding: 12px 26px;
    border: 1px solid $textoGris;
    border-radius: 8px;
    background:#fff;
    border: 1px solid $textoGris;
    width: 100%;
    cursor: auto !important;
}
.select-square{
    @extend .input-square;
    cursor: pointer;
    height: 46px;
}

.form-group{
    margin-bottom: 10px;
    text-align: start;
}

/* ! BOTONES ================================================== */
.btn-block{
    width: 100% !important;
}

.btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    max-height: 45px;
    border-radius: 100px;
    width: max-content;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: all .15s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    display: flex;
    flex-wrap:wrap;
    grid-gap: 7px;
    justify-content: center;
    align-items: center;

    span{
        color: inherit !important;
        font-size: 24px;
    }

    &-primary{
        @extend .btn;
        color: white;
        background-color: $rojo;
    }

    &-primary-claro{
        @extend .btn;
        color: $rojo;
        font-weight: 600;
        background-color: $rojoClaro;
    }

    &-secondary{
        @extend .btn;

        color: $rojo;
        background-color: $rojoClaro;
    }

    &-primary-inv{
        @extend .btn;
        outline:1px solid $rojo;
        color: $rojo;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
    }

    &-primary-inv:hover{
        @extend .btn;
        background-color: $rojo;
        color: white;
    }
}


/* ! CARDS ================================================== */

.card{
    background-color: white;
    min-width: 100px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    filter: drop-shadow(0px 0px 9px rgba(102, 102, 102, 0.2));
    -webkit-filter: drop-shadow(0px 0px 9px rgba(102, 102, 102, 0.2));
}

.card-h{
    @extend .card;
    width: 340px;
    height: 130px;
    display: grid;
    grid-template-columns: 90px auto;
    padding: 5px;
    grid-gap: 8px;
    &-img{
        display: grid;
        overflow: hidden;
        height: 100%;
        align-self: center !important;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit:cover;
        }
    }

    &-body{
        .title{
            color: rgba(37, 37, 37, 0.918);
            font-weight: 500;
        }
        display: grid;
        align-content: space-around;
        padding: 3px;
        .section{
           display: grid;
           grid-auto-flow: column;
           align-items: center;
           justify-content: space-between;

           .btn{
               padding: 0px;
           }
        }

        .footer{
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
        }
    }
}

.card-v{
    @extend .card;
    min-height: 80px;
    .section-img{
        width: 100%;
        height: 190px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .btn-bookmark{
            position: absolute;
            right: 10px;
        }
    }

    .section-body{
        display: grid;
        grid-gap: 15px;
        padding: 20px;

        .title{
            color: rgba(37, 37, 37, 0.918);
            font-weight: 500;
        }
    }
}


.container{
    display: grid;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    place-content: center;
    width: 100%;
    height: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.44);
    z-index: 2;
}
  
.icon-refresh{
    font-size: 16px !important;
}



// ! ANIMACIONES


.loader{
    animation: load 1.2s linear infinite reverse;
    -webkit-animation: load 1.2s linear infinite reverse;
}

@keyframes Down {
    0% {
        display: grid;
        height: 0px;
    }
    100% {
        height: auto;
    }
} 

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}