<div style="width: 691px">
  
<p class="title-help" style="text-align: center;">¿Cómo publicar masivamente?</p>

<p class="text">Paso 1:  Selecciona que tipo de publicación realizarás (productos o servicios)</p>

<p class="text">Paso 2:  Descarga la planilla de excel para poder completar los datos de tus publicaciones (Tienes que tener el programa Microsoft Excel en tu computadora). Descargar Microsoft Excel</p>

<p class="text">Paso 3:  Completa los datos de tus publicaciones en la planilla. Una vez terminado tienes que subir el archivo excel. Nosotros lo revisaremos y te notificaremos una vez que esté aprobado. </p>
<br>
<p class="text-black">Puedes descargar un archivo de ejemplo para ver como se completan los datos.</p>
<br>
	<div style="text-align: center;"> 
		<a href="assets/files/export.csv" (click)="handlerDownload()"  >
			<button class="help-modal" >Descargar archivo de ejemplo</button>
		</a>
	</div>
</div>