<div style="width: 691px">
  
	<h2 style="    text-align: center;">¿Cómo publicar masivamente?</h2>
	<h3>Paso 1:  Descarga la planilla CSV para poder completar los datos de tus publicaciones (Tienes que tener el programa Microsoft Excel en tu computadora). <a target="_blank" style="    color: red;" href="https://www.microsoft.com/es-co/microsoft-365">Descargar Microsoft Excel</a></h3>
	<h3>Paso 2:  Completa los datos de tus publicaciones en la planilla. Una vez terminado tienes que subir el archivo CSV. Nosotros lo revisaremos y te notificaremos una vez que esté aprobado. </h3>
	<h4><b>Puedes descargar un archivo de ejemplo para ver como se completan los datos.</b></h4>
<br>
	<div style="text-align: center;"> 
		<a href="assets/files/export.csv" (click)="handlerDownload()"  >
			<button class="help-modal" >Descargar archivo de ejemplo</button>
		</a>
	</div>
</div>