/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '../src/assets/theme/custom-theme.scss';

html, body { height: 100%; }
body { margin: 0;}

input button p label {
	 font-family: 'Ubuntu';
}

.contenido{
	padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: red transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
  }

.bg-light {
    --cui-bg-opacity: 0;
    background-color: #FBFCFE !important;
}