::ng-deep .mat-checkbox-checked.mat-accent {
    .mat-checkbox-ripple .mat-ripple-element {
        background-color:  #ED1C24 !important;
    }

    .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color:  #ED1C24;
     }
}

::ng-deep .mat-checkbox.mat-accent {
    .mat-checkbox-ripple .mat-ripple-element {
        background-color: #ED1C24 !important;
    }
}


.container-aproved{
	background: #00CB08;
	border-radius: 6px;
	width: 115px;
	height: 44px;
	color: #fff;   
	padding-left: 12px;
    padding-top: 9px;
}

.container-rejected{
	background: #ED1C24;
	border-radius: 6px;
	width: 115px;
	height: 44px;
	color: #fff;   
	padding-left: 12px;
    padding-top: 9px;
}

.container-pending{
	background: #DEE211;
	border-radius: 6px;
	width: 115px;
	height: 44px;
	color: #fff;   
	padding-left: 12px;
    padding-top: 9px;
}

mat-form-field.mat-form-field {
    font-size: 12px;
    width: 100%;
  }

.circleProfile{
        width: 90px;
        height: 90px;
        border-radius: 100%;
        margin: 10px auto;
        text-align: center;
        position: relative;
        img{
            width: 90px;
            height: 90px;
            border-radius: 100%;
        }
        .pencilProfile{
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: #ED1C24;
            position: absolute;
            right: 10px;
            text-align: center;
            img{
                width: 15px;
                height: 15px;
            }
        }
    }